<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-contain">
        {{>header}}
        <div id="envolve">
            <img src="/img/download.jpg" alt="foto da emma stone" class="portrait">
            <p style="text-align: center;">My name is {{name}}, and I am a famous actress in Hollywood.</p>
        </div>
    </div>
    {{>footer}}
</body>
</html>